<!doctype html>
<html lang="en">
	<head>
		<title>About</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			body{
				font-family: helvetica;
			}
			.title{
				margin-left: 1vw;
			}
			.input{
				margin-bottom: 1vh;
			}
			form{
				padding-left: 1vw;
			}
			.text{
				padding-left: 1vw;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a style="color: #157CBD;" class="navbar-brand" href="/main">Home</a>
	    		</div>
	       		<ul class="nav navbar-nav">
	      			<li class="active"><a href="/about">About</a></li>
	    		</ul>
	  		</div>
		</nav>	
		<h1 class = "text" id = "title">About</h1>
		<h4 class = "text" id="version">Version: 1.0</h4>
		<h4 class = "text" id="author">Author: Vishal Baskar</h4>
	</body>
</html>