<!doctype html>
<html lang="en">
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			body{
				font-family: helvetica;
			}
			.title{
				margin-left: 1vw;
			}
			.input{
				margin-bottom: 1vh;
			}
			form{
				padding-left: 1vw;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a style="color: #157CBD;" class="navbar-brand" href="#">Home</a>
	    		</div>
	       		<ul class="nav navbar-nav">
	      			<li class="active"><a href="/about">About</a></li>
	    		</ul>
	  		</div>
		</nav>	
		<form action="/submit" target="_blank" method = "POST" name = "form1">
  			Name:<br>
  			<input class = "input type="text" name="name" placeholder='John Doe' required><br>
  			From:<br>
  			<input class = "input type="text" name="from" placeholder='from@abc.com' required><br>
  			To:<br>
  			<input class = "input type="text" name="to" placeholder='to@abc.com' required><br>
  			Subject:<br>
  			<input class = "input type="text" name="subject" placeholder='Hello' required><br>
  			Text:<br>
  			<textarea  name="msg" required></textarea><br>
  			<button type="submit">Submit</button>
		</form>
		<script type="text/javascript">
			function required()
			{
			var empt = document.forms["form1"]["to"].value;
			if (empt == "")
			{
			alert("Please input a Value");
			return false;
			}
			else 
			{
			alert('Code has accepted : you can try another');
			return true; 
			}
			}
		</script>
  	</body>
</html>